<div class="bgContent">
  <div class="container">
    <mat-card>
      <mat-card-title class="userConfig">Profile Settings</mat-card-title>
      <div>
        <img id="profileImg" [src]="this.updateData.userImg" class="profileImg">
      </div>
      
    </mat-card>
    <div class="input-group mb-3">
      <input class="form-control" type="file" (change)="uploadImg($event)" />
    </div>
    <mat-card-content>
      <mat-form-field>
        <input
          [(ngModel)]="updateData.name"
          matInput
          placeholder="User name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="updateData.email"
          matInput
          placeholder="Email"
          required
          disabled
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="updateData.password"
          matInput
          placeholder="New Password"
          type="password"                    
          required
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button" mat-raised-button (click)="UpdateUser()">Update!</button>
    </mat-card-actions>
  </div>
</div>
