/*colores */
.contentListTask{
  position: relative;
  height: 100vh;
  background-color: #F5F5DC;
}

.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  background: #3A656F ;
  background: -webkit-linear-gradient(to bottom, #3A656F , #3A656F );
  background: linear-gradient(to bottom, #3A656F , #3A656F ); 
  overflow-x: hidden;
  transition: 0.5s;
}
.text-title{
  font-size: 30px !important;
}
.sidebar a {
  padding-bottom: 7px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-board {
  background: #30525a;
}

.openbtn { 
  font-size: 20px;
  cursor: pointer;
  background-color: #3A656F;
  color: white;
  padding: 25px 0px;
  border: none;
  border-radius: 0 10px 10px 0;
  z-index: 2;
  position: absolute;
  margin: auto;
  top: 50%;
}

.openbtn:hover {
  background-color: #284a52;
}
/*Termina cambios colores*/
#main {
  transition: margin-left .5s;
  /*padding: 16px;
  max-height: 100%;
  height: 100%;*/
}
/*Termina cambios sidebar */

/* cambios scrollbar del sidebar */
.sidebar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar:vertical {
  width:8px;
}

.sidebar::-webkit-scrollbar-button:increment,.sidebar::-webkit-scrollbar-button {
  display: none;
} 

.sidebar::-webkit-scrollbar:horizontal {
  height: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #30525a;
  border-radius: 20px;
  border: 0;
}
/*Terminan cambios scrollbar del sidebar */

.example-chip-list {
  width: 50%;
}

.color-button{
  background-color: #17a2b8;
}