.contentListTask{
  background-color: #F5F5DC;
}
/*Termina cambios sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  background: #AD6F03;
  background: -webkit-linear-gradient(to bottom, #AD6F03, #AD6F03);
  background: linear-gradient(to bottom, #AD6F03, #AD6F03); 
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding-bottom: 7px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-board {
  background: #a06704;
}

.openbtn { 
  font-size: 20px;
  cursor: pointer;
  background-color: #c07e03;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
  z-index: 2;
  position: absolute;
}

.openbtn:hover {
  background-color: #b17301;
}

#main {
  transition: margin-left .5s;
  /*padding: 16px;
  max-height: 100%;
  height: 100%;*/
}
/*Termina cambios sidebar */

/* cambios scrollbar del sidebar */
.sidebar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar:vertical {
  width:8px;
}

.sidebar::-webkit-scrollbar-button:increment,.sidebar::-webkit-scrollbar-button {
  display: none;
} 

.sidebar::-webkit-scrollbar:horizontal {
  height: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #915f0b;
  border-radius: 20px;
  border: 0;
}
/*Terminan cambios scrollbar del sidebar */

.example-chip-list {
  width: 50%;
}