<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="_userService.loggedIn()" mat-button routerLink="registerBoard"
      >Crear Tablero</a
    >
  </ul>
  <ul>
    <a *ngIf="_userService.loggedIn()" mat-button routerLink="listBoard"
      >Lista de Tableros</a
    >
  </ul>

  <ul>
    <a  mat-button routerLink="listBoard"   mat-button routerLink="listRole"
      >Administración de Roles</a
    >
  </ul>  

  <span *ngIf="!_userService.loggedIn()" class="headerSpacer"></span>
  <ul>
    <img
      class="img"
      src="../../../assets/img/logo/logo.gif"
      alt="logo CreepyCoders"
      routerLink="listBoard"
    />
  </ul>

  <span class="headerSpacer"></span>
  <span class="headerSpacer"></span>
  <ul>
    <a
      *ngIf="_userService.loggedIn() && _userService.isAdmin()"
      class="dropdown"
      mat-button
      >Administración
      <div class="dropdown-content">
        <a class="dropdown-content-element" mat-button  routerLink="listRole">
          <mat-icon>perm_identity</mat-icon>
          Roles</a> <br>
        <a class="dropdown-content-element" mat-button routerLink="listUser">
          <mat-icon>accessibility_new</mat-icon>
          Usuarios</a>
      </div>
    </a>
  </ul>
  <ul>
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="register"
      >Sign Up</a
    >
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="login">Login</a>
    <a mat-button class="dropdown" *ngIf="this._userService.loggedIn()">
      <img
        [src]="this.profileImage"
        class="imgDoesnExist profileConfig"
        alt=""
      />
      <span class="mx-2 text-capitalize">
        {{ this.userName.split(" ")[0] }}</span
      >
      <div class="dropdown-content">
        <a> Bienvenido {{ this.userName.split(" ")[0] }} </a>
        <br />
        <a class="dropdown-content-element" mat-button (click)="settings()">
          <mat-icon>settings</mat-icon>
          Ajustes
        </a>
        <br />
        <a
          class="dropdown-content-element"
          mat-button
          (click)="_userService.logout()"
        >
          <mat-icon>exit_to_app</mat-icon>
          Cerrar Sesión
        </a>
      </div>
    </a>
  </ul>
</mat-toolbar>
