.headerSpacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: auto;
}

.bgHeader {
  background: #FFCA6F;

}

mat-form-field {
  margin: 5px 0px;
  font-size: 15px;
  width: 300px;
  padding: 6px;
}
