.container {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  background-color: #ffca6f;
  color: white;
}

.card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  align-items: center;
}
.bgComponent {
  width: 100%;
  height: auto;
}

mat-card-title {
  text-align: center;
}

input#upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(1, 0, 75);
  background-color: #ffca6f;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}
