<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Crear Task</mat-card-title>
        <mat-card-content>
          
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="registerData.title"
                matInput
                placeholder="Task title"
                (keypress)="enterPress($event)"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="registerData.description"
                matInput
                placeholder="Description"
                (keypress)="enterPress($event)"
                required
              />
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Asignar Usuario</mat-label>
              <mat-select [(ngModel)]="registerData.assignedUser" >
                <mat-option *ngFor="let user of usersData" value="{{user._id}}">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Prioridad</mat-label>
              <mat-select [(ngModel)]="registerData.priority" required>
                <mat-option value="1">
                  1
                </mat-option>
                <mat-option value="2">
                  2
                </mat-option>
                <mat-option value="3">
                  3
                </mat-option>
              </mat-select>
            </mat-form-field>            

            <img 
            *ngIf="this.boardImg != '' "
            class="m-3"
              width="150px"
              [src]="this.boardImg"
              alt=""
            />
            <div *ngIf="selectedFile !=null">{{ selectedFile.name }}</div>
            <label for="upload">Seleccionar IMG</label>
            <input type="file" id="upload" (change)="uploadImg($event)" />
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="createTask(); onClose()" class="button" mat-raised-button>
            Create
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
