<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Crear Task</mat-card-title>
        <mat-card-content>
          
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="registerData.title"
                matInput
                placeholder="Task title"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="registerData.description"
                matInput
                placeholder="Description"
                required
              />
            </mat-form-field>
            <img 
            *ngIf="this.boardImg != '' "
            class="m-3"
              width="150px"
              [src]="this.boardImg"
              alt=""
            />
            <div *ngIf="selectedFile !=null">{{ selectedFile.name }}</div>
            <label for="upload">Seleccionar IMG</label>
            <input type="file" id="upload" (change)="uploadImg($event)" />
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="createTask(); onClose()" class="button" mat-raised-button>
            Create
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
