.bgContentInput {
  text-align: center;
}
.bgInput {
  display: inline-block;
  justify-content: right;
  background: #cc8f25;
  width: 500px;
  color: white;
}
.bgInput::placeholder {
  color: white;
  border-radius: 10%;
}
.information-card {
  width: 210px;
  margin: 10px 10px 10px 10px;
  max-height: 275px;
  border-radius: 10%;
  border: 2px solid #ffca6f;
}

.title{
  font-size: 17px;
}

img {
  max-height: 120px;
  max-width: 210px;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.icon{
  justify-content: flex-end;
}
