/*Termina cambios sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  background: #288DFA;
  background: -webkit-linear-gradient(to bottom, #288DFA, #288DFA);
  background: linear-gradient(to bottom, #288DFA, #288DFA); 
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding-bottom: 7px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-board {
  background: #2272c9;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0394c0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
}

.openbtn:hover {
  background-color: #0084AD;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  max-height: 100%;
  height: 100%;
}
/*Termina cambios sidebar */

/* cambios scrollbar del sidebar */
.sidebar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar:vertical {
  width:8px;
}

.sidebar::-webkit-scrollbar-button:increment,.sidebar::-webkit-scrollbar-button {
  display: none;
} 

.sidebar::-webkit-scrollbar:horizontal {
  height: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #217bdb;
  border-radius: 20px;
  border: 0;
}
/*Terminan cambios scrollbar del sidebar */

