.container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 5%;
}

.d1 {
  width: 100%;
  height: 3em;
  background: hsla(0, 0%, 100%, 0);
}

.d2 {
  max-width: 22em;
  height: 20em;
  width: 100%;
  background: hsla(0, 0%, 100%, 0);
  justify-content: center;
  align-items: center;
}

.d3 {
  height: 20em;
  width: 100%;
  background: hsla(0, 0%, 100%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.d4 {
  max-width: 30em;
  height: 5em;
  width: 100%;
  padding-top: 5%;
  background: hsla(0, 0%, 100%, 0);
}

.d5 {
  height: 5em;
  width: 100%;
  padding-top: 10%;
  background: hsla(0, 0%, 100%, 0);
}
.d6 {
  width: 4em;
  height: 4em;
  background: hsla(0, 93%, 47%, 0);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 15px;
}

.d7 {
  width: 4em;
  height: 4em;
  background: hsla(0, 0%, 100%, 0);
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 15px;
}
.d {
  min-width: 100px;
  max-width: 650px;
  width: 100%;
  height: 100%;
}

.dimg {
  width: 1100px;
  height: 780px;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../../../../assets/img/post-it-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

input:disabled {
  background: hsla(0, 0%, 100%, 0);
  border: 0;
  color: #000;
  margin: 0;
  padding: 0;
  width: max-content;
  text-align: center;
}

.profileConfig {
  background-size: cover;
  width: 3em;
  height: 3em;
  border-radius: 75%;
  border-color: #000;
}

.imgtask {
  width: 100%;
  height: auto;
}
.text-title {
  font-size: 2.3em;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
}
.text-description {
  font-size: 1.5em;
  font-family: cursive;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  width: 100px;
  height: 200px;
}

span {
  font-size: 12px;
  font-style: italic;
  font-weight: bolder;
}

p {
  font-size: 15px;
}

.p-description {
  padding-top: 20px;
}

.p-asigned {
  padding-top: 5px;
}

textarea {
  background-color: rgba(0, 255, 255, 0);
  resize: none;
  text-align: center;
  font-size: 1em;
  font-family: cursive;
  font-weight: bold;
  border: 0;
}
.t-board {
  color: black;
}

.icon {
  align-items: left;
  justify-content: left;
  padding-left: 7em;
}

.card {
  margin-top: 20%;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  height: 100%;
}
.text {
  text-align: center;
}
.textdate {
  font-family: fantasy;
}
.imgtask {
  display: flex;
  align-items: center;
  max-width: 200px;
  max-height: 250px;
}

.text-1 {
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-top: 10px;
}

.text-2 {
  align-items: center;
  vertical-align: middle;
}

.divCreated {
  height: 100px;
  text-align: right;
}
.description {
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 10px;
}

.divDates {
  height: 200px;
  padding-top: 100px;
  padding-left: 100px;
}

.divImg {
  width: fit-content;
  align-items: center;
}

.title {
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 10px;
}
