<div class="dimg">
  <div class="container d">
    <div class="row align-items-center">
      <div class="col d1">
        <input
          class="text-title"
          [(ngModel)]="registerData.title"
          matInput
          disabled
        />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col d2">
        <div class="row align-items-center">
          <div class="col d6">
            <p class="card-text">
              <span>Creada por </span>
              <input class="text" [(ngModel)]="user" matInput disabled />
            </p>
          </div>

          <div class="col d7">
            <img [src]="userImg" alt="profile-photo" class="profileConfig" />
          </div>
        </div>

        <p class="p-description">
          <span>Descripción </span>
          <textarea cols="35" rows="5" disabled [(ngModel)]="description">
          </textarea>
        </p>
        <p class="p-asigned">
          <span>Asignada a: </span>
          <input
            type="text"
            class="form-control text"
            [(ngModel)]="name"
            matInput
            disabled
            matInput
          />
        </p>
      </div>
      <div class="col d3">
        <img [src]="taskImg" class="imgtask" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col d4">
        <p>
          <span>Board:</span>
          <textarea
            class="t-board"
            cols="35"
            rows="5"
            disabled
            [ngModel]="board"
            matInput
            disabled
          ></textarea>
        </p>
        <p>
          <span>Spring: </span>
          <input class="text" [ngModel]="sprint" matInput disabled />
        </p>
      </div>
      <div class="col d5">
        <p>
          <span>Fecha de Creación:</span>
          <input
            class="text textdate"
            [ngModel]="initDate | date"
            matInput
            disabled
          />
        </p>
        <p>
          <span>Fecha de Entrega: </span>
          <input
            class="text textdate"
            [ngModel]="endDate | date"
            matInput
            disabled
          />
          <button mat-icon-button class="mt-1 icon" (click)="logTask()" >
            <mat-icon>history</mat-icon>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
