<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Create Sprint</mat-card-title>
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <input 
                            [(ngModel)]="registerData.title"
                            matInput
                            placeholder="Titulo"
                            required
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                            [(ngModel)]="registerData.description"
                            matInput
                            placeholder="Descripción"
                            required
                        >
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="saveSprint()" class="button" mat-raised-button>
                  Crear
                </button> 
            </mat-card-actions>
        </mat-card>
    </div>
</div>
