/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* cambios scrollbar del sidebar */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:8px;
}

body::-webkit-scrollbar-button:increment,.sidebar::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #cfa358;
  border-radius: 20px;
  border: 0;
}
/*Terminan cambios scrollbar del sidebar */
.dialog {
  margin: 0 0;
  padding: 0 0;
}