<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Crear Tablero</mat-card-title>
      <mat-card-content> 
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerBoard.name"
              matInput
              placeholder="Nombre del tablero"
              required
            />
          </mat-form-field>
          <mat-form-field>
              <input
              [(ngModel)]="registerBoard.description"
              matInput
              placeholder="Descripcion del tablero"
              required
              >
          </mat-form-field>
          <img 
          *ngIf="this.boardImg != ''"
          class="m-3"
            width="150px"
            [src]="this.boardImg"
            alt=""
          />
          <div *ngIf="selectedFile.name!=null">{{ selectedFile.name }}</div>
          <label for="upload">Seleccionar IMG</label>
          <input type="file" id="upload" (change)="uploadImg($event)"/>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="createBoard()" class="button" mat-raised-button>
          Crear
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="Iam">
    <p>UN TABLERO ES</p>
    <b>
      <div class="innerIam">
        Una idea nueva<br /> 
        Un nuevo proyecto<br />
        Un nuevo comienzo<br />
        CREEPY BOARD
        </div>
    </b>
</div>
</div>
