/*colores*/
.bgInput {
  justify-content: right;
  background: #3A656F;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
  font-size: 1.2em;
}
.bgDescriptionToDo{
  background: #17a2b8;
  border-color:#106977;
  border: solid 2px ;
  border-radius: 2%;
}
.bgDescriptionInProgress{
  background: #ffca6f;
  border-color:#cf9a3d;
  border: solid 2px ;
  border-radius: 2%;
}
.bgDescriptionDone{
  background: #00722e;
  border-color:#1f8637;
  border: solid 2px ;
  border-radius: 2%;
}
.colorTaskToDo {
  background: #17a2b8;
  color: white;
}
.colorTaskInProgress {
  background: #ffca6f;
  color: black;
}
.colorTaskDone {
  background: #00722e;
  color: white;
}
.contentTask {
  height: 100vh !important;
  padding-left: 1%;
  padding-right: 1%;
}
.colorTaskToDo .mat-icon:hover {
  color: #2f00ff;
  cursor: pointer;
  padding-right: 15px;
}
.colorTaskDone .mat-icon:hover {
  color: #1e682f;
  cursor: pointer;
  padding-right: 15px;
}
.colorTaskInProgress .mat-icon:hover {
  color: #881f0d;
  cursor: pointer;
  padding-right: 15px;
}
/*colores*/
.mat-icon {
  padding-right: 15px;
}
/*fin colores*/
.mat-icon:hover {
  color: #ff0000;
  cursor: pointer;
  padding-right: 15px;
}

.example-list {
  border: solid 3px rgba(255, 255, 255, 0);
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.example-box {
  padding: 10px 10px 10px 10px;
  border-bottom: solid 2px #ffffff;
  
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between*/
  box-sizing: border-box;
  cursor: move;
  font-size: 15px;
  text-align: center;
}


.icon {
  font-size: 18px;
}
.date {
  text-align: right;
  font-size: 10px;
  font-style: italic;
}
.bgComponent {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
}

.accordion_display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion_size {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 100px 16px 0px;
}

.spacer {
  flex: 1 0 auto;
}

.mat-icon {
  padding-right: 15px;
}


.image_center {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
/* cambios scrollbar del sidebar */
.contentTask::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contentTask::-webkit-scrollbar:vertical {
  width:8px;
}

.contentTask::-webkit-scrollbar-button:increment,.sidebar::-webkit-scrollbar-button {
  display: none;
} 

.contentTask::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contentTask::-webkit-scrollbar-thumb {
  background-color: #106977;
  border-radius: 20px;
  border: 0;
}
/*Terminan cambios scrollbar del sidebar */
