<div class="container at-5">
  <div class="row">
    <h2 class="text-center">Proceso de las Tareas</h2>
    <!--</div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 mb-4">
        <input type="text" [(ngModel)]= "tarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg text-center" placeholder="Ingrese tarea">
  
      </div>
    </div>-->

    <div cdkDropListGroup multi="true" class="row">
      <div class="col-lg-4">
        <h4>To Do</h4>
        <div
          cdkDropList
          class="example-list"
          id="list-todo"
          [cdkDropListData]="taskData"
          [cdkDropListConnectedTo]="['list-progress', 'list-done']"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let task of taskData"
            [cdkDragData]="task"
            cdkDrag
          >
            {{ task.title }}
            <button
              *ngIf="task.taskStatus == 'done'"
              (event)="updateTask(task, 'to-do')"
            >
              {{ task.taskStatus }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h4>In progress</h4>
        <div
          cdkDropList
          class="example-list"
          id="list-progress"
          [cdkDropListData]="taskData2"
          [cdkDropListConnectedTo]="['list-todo', 'list-done']"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let task of taskData2" cdkDrag>
            {{ task.title }}
            <span
              *ngIf="task.taskStatus == 'progress'"
              (event)="updateTask(task, 'progress')"
            >
              {{ task.taskStatus }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h4>Done</h4>
        <div
          cdkDropList
          class="example-list"
          id="list-done"
          [cdkDropListData]="taskData3"
          [cdkDropListConnectedTo]="['list-progress', 'list-todo']"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let task of taskData3"
            (cdkDropListDropped)="updateTask(task, 'done')"
            cdkDrag
          >
            {{ task.title }}
            
          </div>
        </div>
      </div>
    </div>
   
  </div>

  <div class="bgComponent">
    <div class="accordion_display">
      <div class="accordion_size">
        <mat-accordion multi="true" *ngIf="taskData.length">
          <mat-expansion-panel *ngFor="let task of taskData" hideToggle="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{ task.title }}</span>
                <span class="spacer"></span>
                <button
                  class="btnDone"
                  *ngIf="task.taskStatus == 'done'"
                  mat-raised-button
                >
                  {{ task.taskStatus }}
                </button>
                <button
                  class="btnInProgress"
                  *ngIf="task.taskStatus == 'in-progress'"
                  mat-raised-button
                >
                  {{ task.taskStatus }}
                </button>
                <button
                  class="btnToDo"
                  *ngIf="task.taskStatus == 'to-do'"
                  mat-raised-button
                >
                  {{ task.taskStatus }}
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              {{ task.description }}
            </mat-panel-description>
            <mat-panel-description>
              <img
                class="card-img-top image_center"
                src="{{ task.imageUrl }}"
              />
            </mat-panel-description>
            <mat-action-row>
              <button
                class="btnSelectTodo"
                mat-button
                (click)="updateTask(task, 'to-do')"
              >
                to-do---
              </button>
              <button
                class="btnSelectInProgress"
                mat-button
                (click)="updateTask(task, 'in-progress')"
              >
                In-progress-
              </button>
              <button
                class="btnSelectDone"
                mat-button
                (click)="updateTask(task, 'done')"
              >
                done-
              </button>
              <span class="spacer"></span>
              <mat-icon color="primary" (click)="deleteTask(task)"
                >delete</mat-icon
              >
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>


  <!--PRUEBA-->
  <div cdkDropListGroup multi="true" class="row">
    <div class="col-lg-4">
      <h4>To Do</h4>
  <div class="bgComponent">
    <div class="accordion_display">
      <div class="accordion_size">
        <mat-accordion multi="true" *ngIf="taskData.length">
          <mat-expansion-panel *ngFor="let task of taskData" hideToggle="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                    <div
                      cdkDropList
                      class="example-list"
                      id="list-todo"
                      [cdkDropListData]="taskData"
                      [cdkDropListConnectedTo]="['list-progress', 'list-done']"
                      (cdkDropListDropped)="drop($event)"
                    >
                      <div
                        class="example-box"
                        *ngFor="let task of taskData"
                        [cdkDragData]="task"
                        cdkDrag
                      >
                        {{ task.title }}
                      </div>
                    </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              {{ task.description }}
            </mat-panel-description>
            <mat-panel-description>
              <img
                class="card-img-top image_center"
                src="{{ task.imageUrl }}"
              />
            </mat-panel-description>
            <mat-action-row>
             
              <span class="spacer"></span>
              <mat-icon color="primary" (click)="deleteTask(task)"
                >delete</mat-icon
              >
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  </div>


  <!--Casilla 2-->
  <div class="col-lg-4">
    <h4>In progress</h4>
<div class="bgComponent">
  <div class="accordion_display">
    <div class="accordion_size">
      <mat-accordion multi="true" *ngIf="taskData.length">
        <mat-expansion-panel *ngFor="let task of taskData" hideToggle="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                  <div
                    cdkDropList
                    class="example-list"
                    id="list-todo"
                    [cdkDropListData]="taskData2"
                    [cdkDropListConnectedTo]="['list-progress', 'list-done']"
                    (cdkDropListDropped)="drop($event)"
                  >
                    <div
                      class="example-box"
                      *ngFor="let task of taskData2"
                      [cdkDragData]="task"
                      cdkDrag
                    >
                      {{ task.title }}
                    </div>
                  </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            {{ task.description }}
          </mat-panel-description>
          <mat-panel-description>
            <img
              class="card-img-top image_center"
              src="{{ task.imageUrl }}"
            />
          </mat-panel-description>
          <mat-action-row>
           
            <span class="spacer"></span>
            <mat-icon color="primary" (click)="deleteTask(task)"
              >delete</mat-icon
            >
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
</div>
</div>

